body{
    display: flex;
    flex-direction: column;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100vh;
}
.header{
    background-color:#1F2937;
    display: flex;
    justify-content: center;
    padding: 0 30px;
}
.header-nav{
    flex: 0 1 1100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    min-height:70px;
}
.logo{
    font-size: 24px;
    font-weight: 1000;
    color: #f9faf8;
    padding: 0px 10px;
}
.links{
    font-size: 16px;
    color:#E5E7EB;
    text-decoration: none;
    padding: 0 10px;
}
.container1{
    background:#1F2937;
    display: flex;
    justify-content: center;
    flex: 1 0 400px;
}
.container1-content{
    flex: 0 1 1100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:20px;
    padding: 10px 30px;
}


.main{
    font-size: 48px;
    font-weight:bolder;
    color:#F9FAF8;
}
.small{
    color:#F9FAF8;
    filter: contrast(0.5);
}
.container1 button{
    font-weight: bold;
    font-size: 18px;
    width: fit-content;
    background-color: #3882f6;
    color: #f9faf8;
    border: none;
    border-radius: 10px;    
    padding: 10px 25px;
}
.naslov{
    font-size: 48px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
    margin-top: 32px;
}
.container2{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    flex:1 0 400px;
  }
  .container2-content{
    display: flex;
    gap:30px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 30px;
  }
  .slika_info {
    width: 140px;
    height: 120px;
    border: 5px solid #3882f6;
    border-radius: 15px;
  }
  #big_image{
   height:250px;
   width: auto;
  }
  .info{
    max-width: 200px;
  }
  .container3{
    flex:1 0 300px;
    display: flex;
    background-color: #E5E7EB;
    padding: 10px 30px;
    justify-content: center;
    align-items: center;
  }
  .quote-container{
    flex:0 1 800px;
    display: flex;
    flex-direction: column;
    gap:10px;
    flex-shrink: 1;
  }
  .quote{
    font-size: 36px;
    color:#1F293F;
    font-style: italic;
    font-weight: light;
    flex-shrink: 1;
  }
  .potpis{
    font-size:28px;
    font-weight: bold;
    align-self: flex-end;
    color: #1f2937;
  }
  .CTA{
    
    flex: 0 1 1000px;
    min-height: 150px;
    background: #3882f6;
    display: flex;
    gap:10px;
    align-items: center;
    justify-content: center;
    padding: 0 140px;
    border-radius: 10px;
  }
  .container4{
    display: flex;
    justify-content: center;
    align-items: center;
    flex:0 1 200px;
    padding: 10px 30px;
    
  }
  .CTA-content{
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
    
  }
  .call_to_action{
    color:#F9FAF8;
    font-weight: bold;
    font-size: 24px;
    
  }
  .small_cta{
    font-size: 16px;
    color:#F9FAF8;
    filter: contrast(0.8);
  }
  .texten{
    display: flex;
    flex-flow: column wrap;
    padding: 40px;
    max-width: 450px;   
    min-height: 250px;
    gap:10px;
    justify-content: center;
  }
  .text{
    text-align: center;
    color: #1f2937;
  }
  .container4 button{
    font-weight: bold;
    font-size: 18px;
    width: fit-content;
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 10px;    
    padding: 10px 25px;
    border: #fefefe 3px solid;
    flex:0 0 auto;
    margin-left: auto;
  }
 